.vscode
_data

# server
calendar-server/dist
calendar-server/config/default.json
calendar-server/logs/*
!calendar-server/logs/.gitkeep

# dependencies
node_modules
/.pnp
.pnp.js

# client
calendar-client/coverage
calendar-client/build
calendar-client/src/react-app-env.d.ts

npm-debug.log*
yarn-debug.log*
yarn-error.log*
